* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text: #fcf3f8;
  --background: #040103;
  --primary: #aae9c3;
  --secondary: #071917;
  --accent: #a5e59e;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  width: 100%;
  border: 2px solid var(--background);
}
